.alert {
    --color-alert: var(--color-grey-100);
    --color-alert-border: var(--color-grey-400);
    --color-alert-text: var(--color-grey-700);

    @include rounded-lg;

    background: var(--color-alert);
    border: 1px solid var(--color-alert-border);
    color: var(--color-alert-text);
    margin-bottom: 1rem;
    padding: .5rem .75rem;

    &.error {
        --color-alert: var(--color-red-200);
        --color-alert-border: var(--color-red-500);
        --color-alert-text: var(--color-red-900);
    }

    &.success {
        --color-alert: var(--color-green-200);
        --color-alert-border: var(--color-green-500);
        --color-alert-text: var(--color-green-900);
    }
}
