:root {
    --color-grey-50: #f9fafb;
    --color-grey-100: #F3F4F6;
    --color-grey-200: #E5E7EB;
    --color-grey-300: #d1d5db;
    --color-grey-400: #9ca3af;
    --color-grey-500: #6b7280;
    --color-grey-600: #4B5563;
    --color-grey-700: #374151;
    --color-grey-800: #1f2937;
    --color-grey-900: #111827;

    --color-blue-300: #93C5FD;
    --color-blue-400: #60a5fa;
    --color-blue-500: #3b82f6;
    --color-blue-600: #2563EB;
    --color-blue-700: #1D4ED8;
    --color-blue-800: #1E40AF;
    --color-blue-900: #1E3A8A;

    --color-green-200: #A7F3D0;
    --color-green-300: #6EE7B7;
    --color-green-400: #34D399;
    --color-green-500: #10B981;
    --color-green-600: #46954a;
    --color-green-700: #388e3c;
    --color-green-900: #064E3B;

    --color-yellow-400: #FBBF24;
    --color-yellow-500: #F59E0B;

    --color-red-200: #FECACA;
    --color-red-300: #FCA5A5;
    --color-red-400: #F87171;
    --color-red-500: #EF4444;
    --color-red-600: #dc2626;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;
    --color-red-900: #7F1D1D;

    --color-primary: #18b69b;
    --color-primary-darker: #118974;

    --color-bg: #111827;
    --color-text: var(--color-grey-300);

    --color-links: var(--color-primary);
}
