#order-details {
    margin: 0 auto;
    max-width: 850px;

    > div {
        margin: 0 0 1.5rem;
    }
}

#customer-details,
#order-summary {
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;

        > div {
            padding: 1.5rem;
        }
    }

    > div {
        padding: 1rem 1.5rem;
    }

    .label {
        @include text-small;
        color: var(--color-grey-400);
        display: block;
        font: {
            weight: 600;
        }
        letter-spacing: .025em;
        text-transform: uppercase;
    }
}

#order-items {
    table tfoot tr:last-child td {
        border-bottom: none;
    }
}
#order-item-total {
    font-weight: bold;
}

#customer-order {
    padding: 3rem 0;

    h1 {
        font-size: 18px;
    }
}
